/* --- IMPORTS --- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');

/* --- VARIABLES --- */
:root {

    /* COLORS */
    --primaryColor: #3288CD;
    --secondaryColor: #B1D8F2;
    --accentColor: #0C68B2;
    --interactableColor: #25D9FE;
    --hoverButtonColor: #25bddb;
    --tagColor: rgba(37, 217, 254, .5);
    --backgroundColor: #D9E9F5;
    --baseTextDarkColor: #333333;
    --baseTextLightColor: #F7F7F7;



    /* TEXT  */
    --titleSizeMobile: 2.5rem;
    --baseTextSizeMobile: .9rem;

    /* SPACING */
    --smallSpacing: 10px;
    --standardSpacing: 16px;
    --mediumSpacing: 24px;
    --largeSpacing: 35px;
    --xLargeSpacing: 50px;

    /* DETAILS */
    --borderRadius: 3px;
    --round: 50%;
    --shadow: 3px 3px 8px gray;
}

/* --- UTILLITIES --- */
*,
*::after,
*::before {
    box-sizing: border-box;
}

.fullWidth {
    grid-column: 1/-1;
}

.flex {
    display: flex;
}

.justifyCenter {
    justify-content: center;
}

.alignCenter {
    align-items: center;
}

.justifyBetween {
    justify-content: space-between;
}

.bold {
    font-weight: 700;
}

/* --- GENERALS --- */

body {
    margin: 0;
    background: var(--backgroundColor);
}

nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: var(--standardSpacing);
    background: var(--baseTextDarkColor);
}

header {
    background-color: var(--accentColor);
    margin: 0;
    height: 10vh;
}

header.index {
    height: 30vh;
}

main {
    display: grid;
    grid-template-columns: var(--standardSpacing) repeat(4, 1fr) var(--standardSpacing);
    margin-bottom: 10vh;
}

section {
    grid-column: 2/-2;
}


a {
    color: var(--baseTextDarkColor);
}

a i {
    color: inherit;
    font-size: 1.3rem;
    margin-right: 5px;
}

nav i {
    font-size: 30px;
    color: var(--interactableColor);

}

.active i {
    color: var(--backgroundColor);
}

nav .active {
    background-color: var(--interactableColor);
    padding: 10px;
    border-radius: 100%;
}


/* --- TEXT --- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    grid-column: 2 / -2;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: var(--mediumSpacing) var(--standardSpacing);
    text-align: center;
    color: var(--baseTextLightColor);
    position: relative;
}

h2 {
    font-size: 1.5rem;
    margin-top: var(--mediumSpacing);
    margin-bottom: var(--smallSpacing);
    color: var(--primaryColor);
    text-align: center;
}

h3 {
    font-size: 1.2rem;
    margin: 0px;
    color: var(--accentColor);
    font-weight: 500;
}

h1.title {
    font-family: "Rock Salt", cursive;
    font-size: 2.5rem;
    margin: 0;
}

p,
li {
    margin: 0 0 var(--smallSpacing) 0;
    color: var(--baseTextDarkColor);
    font-family: "Raleway", sans-serif;
}

p.note {
    font-size: .9rem;
}

/* --- BUTTONS --- */
a.btn {
    background: var(--interactableColor);
    padding: var(--standardSpacing) var(--mediumSpacing);
    text-decoration: none;
    text-transform: uppercase;
    color: var(--baseTextDarkColor);
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    grid-column: 2/-2;
    text-align: center;
    margin: 20px 0;
    display: block;
}

a.btn:hover {
    background: var(--hoverButtonColor);
    transition: 0.3s;
}

/* --- CALLOUT --- */
.callout {
    background-color: var(--accentColor);
    padding: var(--largeSpacing);
    text-align: center;
    color: var(--baseTextLightColor);
    border-radius: 5px;
    margin: var(--standardSpacing) 0;
}

.callout h3 {
    font-size: 1.3rem;
    color: var(--baseTextLightColor);
}

.callout p {
    color: var(--baseTextLightColor);
    font-weight: 500;
    font-size: 1.1rem;
}

.eventInfo {
    gap: var(--standardSpacing);

}

.eventInfo h3 {

    font-size: 1rem;
}

.eventInfo .flex {
    gap: var(--smallSpacing)
}

.eventInfo i {
    color: var(--baseTextLightColor);
    font-size: 1.4rem;
}

.eventInfo .eventInfoContainer {
    width: 50%;
    text-align: left;
}

.eventInfo .eventInfoContainer div {
    margin: var(--smallSpacing) 0;
}

/* --- FOCUS ENTRY POINTS --- */

.focusEntrypoint {
    height: 250px;
    position: relative;
    grid-column: 2/-2;
    margin: var(--standardSpacing) 0;
    display: block;
}

.focusEntrypoint img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.focusEntrypoint p {
    background: var(--primaryColor);
    position: absolute;
    color: var(--baseTextLightColor);
    font-size: 1.3rem;
    font-weight: 600;
    padding: var(--standardSpacing);
    bottom: 10px;
    width: 80%;
    border-radius: 0 5px 5px 0;
}

/* ---IMAGES--- */

.imgContainer {
    grid-column: 1/-1;
    height: 250px;
}

.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* ---SLIDESHOW--- */
.slideshow {
    position: relative;
}

.slideshow .imgContainer {
    height: 350px;
}

.slideshow .informationCard {
    background: var(--primaryColor);
    position: absolute;
    padding: var(--standardSpacing);
    width: 80%;
    bottom: 10px;
    border-radius: 0 5px 5px 0;
}

.informationCard p,
.informationCard h3,
.informationCard i {
    color: var(--baseTextLightColor);
}

.informationCard .flex {
    gap: var(--smallSpacing);
}

.informationCard i {
    font-size: 1.4rem;
}

.informationCard h3 {
    margin-bottom: var(--smallSpacing);
}

/* --- SPILLESTED INFO--- */
.locationInfo {
    margin: var(--mediumSpacing) 0;
    background: #ECF5FC;
    padding: var(--mediumSpacing);
    border-radius: 5px;
    font-family: "Raleway", sans-serif;
}

.locationInfo i {
    color: var(--baseTextDarkColor);
    font-size: 1.5rem;
}

.locationInfo .flex {
    gap: var(--smallSpacing);
}

.locationInfo div {
    margin: var(--smallSpacing) 0;
}